.carousel-inner .carousel-caption {
    background-color: rgb(0, 0, 0, 0.4);
}

.margindex {
    margin-top: 175px;
}

.h2Index {
    color: rgb(107, 19, 41);
}

.pIndex {
    color: rgb(49, 102, 102);
    font-size: 20px;
}