%cajitasProductos {
    background-size: cover;
    justify-content: center;
    display: grid;
    align-content: center;
    background-position: center;
}

.fondoTextoTransparencia {
    background: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%) fixed;
    background-clip: border-box;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.cajas {
    height: 100px;
}

.caja1 {
    background-image: url(../images/almendras-beneficios-propiedades-calorias-1637756895.jpg);
    @extend %cajitasProductos
}

.caja2 {
    background-image: url(../images/semillas-girasol1-d0377f52d6d05801d715250576242001-1024-1024.jpg);
    @extend %cajitasProductos
}

.caja3 {
    background-image: url(../images/porotos\ mung.jpg);
    @extend %cajitasProductos
}

.caja4 {
    background-image: url(../images/Lenteja-turca.jpg);
    @extend %cajitasProductos
}

.caja5 {
    background-image: url(../images/azucar\ mascabo.jpg);
    @extend %cajitasProductos
}

.caja6 {
    background-image: url(../images/arroz\ negro.jpg);
    @extend %cajitasProductos
}

.caja7 {
    background-image: url(../images/miel.jpg);
    @extend %cajitasProductos
}

.caja8 {
    background-image: url(../images/harina\ integral.jpg);
    @extend %cajitasProductos
}

.caja9 {
    background-image: url(../images/frutas\ desecadas.jpg);
    @extend %cajitasProductos
}

.caja10 {
    background-image: url(../images/alimentos\ envasados.jpg);
    @extend %cajitasProductos
}