* {
  margin: 0;
  padding: 0;
}

body {
  background: radial-gradient(1.5em 6.28571em at 1.95em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(1.5em 6.28571em at -0.45em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 1.5em 5.5em, radial-gradient(2.3em 4.57143em at 2.99em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(2.3em 4.57143em at -0.69em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 55%, rgba(255, 255, 255, 0) 55%) 2.3em 4em, radial-gradient(3.5em 6.28571em at 4.55em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(3.5em 6.28571em at -1.05em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 3.5em 5.5em, radial-gradient(#15ffa5, #00ced1);
  background-color: mediumspringgreen;
  background-size: 1.5em 11em, 1.5em 11em, 2.3em 8em, 2.3em 8em, 3.5em 11em, 3.5em 11em, 100% 100%;
  background-repeat: repeat;
}

/* PAGE INICIO/PAGE INICIO/PAGE INICIO */

/*          HEADER          */

/* BOTONES ANIMADOS */
.css-button-sliding-to-left--green {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: transparent;
  overflow: hidden;
  border: 2px solid #57cc99;
  color: #57cc99;
  text-align: center;
  display: grid;
  align-content: center;
}

.css-button-sliding-to-left--green:hover {
  color: #fff;
}

.css-button-sliding-to-left--green:hover:after {
  width: 100%;
}

.css-button-sliding-to-left--green:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: #57cc99;
}

/* BOTONES ANIMADOS */
.contenedor {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-template-rows: repeat(4, 300px);
  width: 85%;
  margin: 1.6em auto;
}

.encabezado {
  grid-column: 1 / 4;
  grid-row: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.encabezado .caja_logo {
  display: grid;
  grid-column: 1;
}

.encabezado img {
  display: grid;
  height: 150px;
}

.encabezado .caja_title {
  grid-column: 1 / 4;
  align-content: center;
  display: grid;
  justify-content: center;
}

nav {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: space-evenly
}

nav .enlaces {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

nav .enlaces a {
  color: rgb(49, 102, 102);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

.caja_title h1 {
  color: rgb(107, 19, 41);
  font-size: 35px;
}

/*          SIDEBAR IZQUIERDA          */

.main1 {
  grid-column: 1;
  grid-row: 2 / 4;
  display: grid;
}

.main1 h2 {
  text-align: center;
  color: rgb(49, 102, 102);
  font-size: 35px;
  width: 85%;
}

.main1 p {
  padding-top: 100px;
  font-size: 20px;
  width: 85%;
}

/*          MAIN MEDIO          */

.main2 {
  grid-column: 2 / 3;
  grid-row: 2 / 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #000;
  background: -moz-linear-gradient(-45deg, #000000 0%, #000000 25%, #1e539e 50%, #ff3083 75%, #7800a8 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #000000 0%, #000000 25%, #1e539e 50%, #ff3083 75%, #7800a8 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #000000 0%, #000000 25%, #1e539e 50%, #ff3083 75%, #7800a8 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background-size: 400% 400%;
  background-repeat: no-repeat;
  width: 500px;
  height: 368px;
  max-width: 100vw;
  max-height: 100vh;
  justify-content: center;
  align-items: center;
  align-self: center;
  color: #fff;
  position: relative;
  cursor: pointer;
  transition: .5s all;
}

.main2 img {
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 100%;
  height: 39.3vh;
  position: absolute;
  left: 0;
  top: 0;
  background: #000 no-repeat center center;
  background-size: cover;
  /*   width: 100%;
  height: 100%;
 */
  z-index: 1;
  opacity: .5;
  mix-blend-mode: screen;
}

.main2:hover {
  background-position: 100% 100%;
}

.main2 h2 {
  color: rgb(49, 102, 102);
  padding-top: 10px;
  justify-self: center;
}

/*          SIDEBAR DERECHA           */

.main3 {
  grid-column: 3 / 4;
  grid-row: 2 / 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: transparent;
  background: -moz-linear-gradient(-45deg, #000000 0%, #000000 25%, #1e539e 50%, #ff3083 75%, #7800a8 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #000000 0%, #000000 25%, #1e539e 50%, #ff3083 75%, #7800a8 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #000000 0%, #000000 25%, #1e539e 50%, #ff3083 75%, #7800a8 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background-size: 400% 400%;
  background-repeat: no-repeat;
  width: 500px;
  height: 370px;
  max-width: 100vw;
  max-height: 100vh;
  justify-content: center;
  align-items: center;
  align-self: center;
  color: #fff;
  position: relative;
  cursor: pointer;
  transition: .5s all;
}

.main3 img {
  width: 100%;
  height: 39.3vh;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
  position: absolute;
  left: 0;
  top: 0;
  background: transparent no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: .5;
  mix-blend-mode: screen;
}

.main3:hover {
  background-position: 100% 100%;
}

.main3 h2 {
  color: rgb(49, 102, 102);
  padding-top: 10px;
  justify-self: center;
}

/*          FOOTER          */

.footer {
  grid-column: 1 / 4;
  grid-row: 4;
  display: grid;
  justify-content: center;
  grid-template-rows: repeat(2, 50%);
}

.footer .iconos_redes {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.footer .logo_fb img {
  height: 47px;
}

.footer .logo_ig img {
  height: 64px;
}

.footer .logo_wsp img {
  height: 50px;
}

.footer .derechos_reservados {
  width: 100%;
}

/* PAGE SERVICIOS/PAGE SERVICIOS/PAGE SERVICIOS */

.contenedor_servicios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-template-rows: repeat(4, 300px);
  width: 85%;
  margin: 1.6em auto;
}

.main1_serv {
  display: grid;
}

.main2_serv {
  display: grid;
  grid-column: 2 / 4;
  grid-row: 2 / 4;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(4, 151.5px);
  border: solid 2px black;
}

.cajita1 {
  border-bottom: 2px solid black;
  display: grid;
}

.cajita1 h3 {
  text-align: center;
  padding-top: 10px;
}

.cajita1 p {
  justify-self: center;
}

.cajita2 {
  border-bottom: 2px solid black;
  display: grid;
}

.cajita2 h3 {
  text-align: center;
  padding-top: 10px;
}

.cajita2 p {
  justify-self: center;
}

.cajita3 {
  border-bottom: 2px solid black;
  display: grid;
}

.cajita3 h3 {
  text-align: center;
  padding-top: 10px;
}

.cajita3 p {
  justify-self: center;
}

.cajita4 {
  display: grid;
}

.cajita4 h3 {
  text-align: center;
  padding-top: 10px;
}

.cajita4 p {
  justify-self: center;
}

/* PAGE PRODUCTOS / PAGE PRODUCTOS / PAGE PRODUCTOS */

.contenedor_productos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: 85%;
  grid-gap: 10px;
  margin: 1.6em auto;
}

.main_grilla {
  display: grid;
  grid-row: 2 / 4;
  grid-column: 1 / 3;
}

.grilla_productos {
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(5, 1fr);
  display: grid;
  grid-column: 100%;
  grid-gap: 10px;
}

.grilla_productos h1 {
  color: rgb(49, 102, 102);
  text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.caja1 {
  background-image: url(../images/almendras-beneficios-propiedades-calorias-1637756895.jpg);
  border: 1px solid black;
  background-size: cover;
  justify-content: center;
  display: grid;
  align-content: center;
}

.caja2 {
  background-image: url(../images/semillas-girasol1-d0377f52d6d05801d715250576242001-1024-1024.jpg);
  border: 1px solid black;
  background-size: cover;
  justify-content: center;
  display: grid;
  align-content: center;
  background-position: center;
}

.caja3 {
  background-image: url(../images/porotos\ mung.jpg);
  border: 1px solid black;
  background-position: center;
  background-size: cover;
  justify-content: center;
  display: grid;
  align-content: center;
  background-position: center;
}

.caja4 {
  background-image: url(../images/Lenteja-turca.jpg);
  border: 1px solid black;
  background-size: cover;
  justify-content: center;
  display: grid;
  align-content: center;
  background-position: center;
}

.caja5 {
  background-image: url(../images/azucar\ mascabo.jpg);
  border: 1px solid black;
  background-size: cover;
  background-position: center;
  justify-content: center;
  display: grid;
  align-content: center;
}

.caja6 {
  background-image: url(../images/arroz\ negro.jpg);
  border: 1px solid black;
  background-size: cover;
  justify-content: center;
  display: grid;
  align-content: center;
  background-position: center;
}

.caja7 {
  background-image: url(../images/miel.jpg);
  border: 1px solid black;
  background-size: cover;
  justify-content: center;
  display: grid;
  align-content: center;
  background-position: center;
}

.caja8 {
  background-image: url(../images/harina\ integral.jpg);
  border: 1px solid black;
  background-size: cover;
  justify-content: center;
  display: grid;
  align-content: center;
  background-position: center;
}

.caja9 {
  background-image: url(../images/frutas\ desecadas.jpg);
  border: 1px solid black;
  background-size: cover;
  justify-content: center;
  display: grid;
  align-content: center;
  background-position: center;
}

.caja10 {
  background-image: url(../images/alimentos\ envasados.jpg);
  border: 1px solid black;
  justify-content: center;
  display: grid;
  align-content: center;
  background-position: center;
}

/* PAGE CONTACTO / PAGE CONTACTO / PAGE CONTACTO */

.contenedor_contacto {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 400px 1fr;
  width: 85%;
  grid-gap: 10px;
  margin: 1.6em auto;
}

.main_contacto {
  display: grid;
  grid-column: 1 / 3;
  grid-row: 2;
}

.text_form {
  color: rgb(49, 102, 102);
}

.form label {
  color: rgb(107, 19, 41);
  font-size: 20px;
}

.footer_contacto {
  grid-column: 1 /3;
  grid-row: 3;
  display: grid;
  justify-content: center;
  grid-template-rows: repeat(2, 50%);
}

.footer_contacto .iconos_redes {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.footer_contacto .logo_fb img {
  height: 47px;
}

.footer_contacto .logo_ig img {
  height: 64px;
}

.footer_contacto .logo_wsp img {
  height: 50px;
}

.footer_contacto .derechos_reservados {
  width: 100%;

}

/* PAGE SOBRE EKO / PAGE SOBRE EKO / PAGE SOBRE EKO */

.contenedor_sobre {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(3, 300px);
  width: 85%;
  grid-gap: 10px;
  margin: 1.6em auto;
}

.main_sobre {
  display: grid;
  grid-column: 1 / 3;
  grid-row: 2;
}

.footer_sobre {
  grid-column: 1 / 3;
  grid-row: 3;
  display: grid;
  justify-content: center;
  grid-template-rows: repeat(2, 50%);
}

.footer_sobre .iconos_redes {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.footer_sobre .logo_fb img {
  height: 47px;
}

.footer_sobre .logo_ig img {
  height: 64px;
}

.footer_sobre .logo_wsp img {
  height: 50px;
}

.footer_sobre .derechos_reservados {
  width: 100%;
}

/*         MEDIA QUERIES     /     TABLET      /      INICIO      */

@media screen and (min-width: 576px) and (max-width: 1023px) {
  .contenedor {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(4, 400px);
    gap: 10px;
    grid-template-areas:
      "header header"
      "maintext maintext"
      "conservas tes"
      "footer footer";
  }

  .encabezado {
    grid-area: header;
  }

  .main1 {
    grid-area: maintext;
    display: grid;
  }

  .caja_title h1 {
    text-align: center;
  }

  .main1 h2 {
    justify-self: center;
  }

  .main1 p {
    padding-top: 1px;
    justify-self: center;
    width: 100%;
  }

  .main2 {
    grid-area: conservas;
  }

  .main2 h2 {
    padding-bottom: 28px;
  }

  .main3 {
    grid-area: tes;
  }

  .footer {
    grid-area: footer;
  }


  /*         MEDIA QUERIES     /     TABLET      /      SERVICIOS      */

  .contenedor_servicios {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: 400px auto 400px 300px;
    grid-template-areas:
      "header"
      "main2_serv"
      "main1_serv"
      "footer";
  }

  .encabezado {
    grid-area: header;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .main1_serv {
    grid-area: main1_serv;
    display: grid;
    justify-content: center;
    align-items: center;
  }

  .main1_serv h3 {
    text-align: center;
  }

  .main2_serv {
    grid-area: main2_serv;
  }

  /*        MEDIA QUERIES     /     TABLET      /      PRODUCTOS       */

  .contenedor_productos {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(4, 350px);
    grid-template-areas:
      "header header"
      "grilla_productos grilla_productos"
      "grilla_productos grilla_productos"
      "footer footer";
    margin-top: 0;
  }

  /*         MEDIA QUERIES     /     TABLET      /      CONTACTO      */
  .contenedor_contacto {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 300px 400px 1fr;
    width: 85%;
    grid-gap: 10px;
    margin: 1.6em auto;
    grid-template-areas:
      "header header"
      "main_contacto main_contacto"
      "footer footer";
  }

  .main_contacto {
    grid-area: main_contacto;
  }

  /*         MEDIA QUERIES     /     TABLET      /      SOBRE EKO      */

  .contenedor_sobre {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 300px 400px 300px;
    grid-template-areas:
      "header header"
      "main_sobre main_sobre"
      "footer footer";
  }

  .main_sobre {
    grid-area: main_sobre;
  }
}


/*          MEDIA QUERIES    /    MOBILE     /     INICIO     */

@media screen and (max-width: 575px) {
  .contenedor {
    grid-template-columns: 100%;
    grid-template-rows: repeat(5, 400px);
    display: grid;
    gap: 25px;
    grid-template-areas:
      "header"
      "maintext"
      "conservas"
      "tes"
      "footer";
    margin-top: 0;
  }

  .encabezado {
    grid-area: header;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .main1 {
    grid-area: maintext;
    display: grid;
  }

  .caja_title h1 {
    text-align: center;
  }

  .main1 h2 {
    justify-self: center;
  }

  .main1 p {
    padding-top: 10px;
    justify-self: center;
    width: 100%;
  }

  .main2 {
    grid-area: conservas;
  }

  .main3 {
    grid-area: tes;
  }

  .footer {
    grid-area: footer;
  }

  /*          MEDIA QUERIES    /    MOBILE     /     SERVICIOS     */


  .contenedor_servicios {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: 400px auto 400px 300px;
    grid-template-areas:
      "header"
      "main2_serv"
      "main1_serv"
      "footer";
  }

  .encabezado {
    grid-area: header;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .main1_serv {
    grid-area: main1_serv;
    display: grid;
    justify-content: center;
    align-items: center;
  }

  .main1_serv h3 {
    text-align: center;
  }

  .main1_serv iframe {
    justify-self: center;
    max-width: 90%;
  }

  .main2_serv {
    grid-area: main2_serv;
  }

  /*          MEDIA QUERIES    /    MOBILE     /     PRODUCTOS     */

  .contenedor_productos {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(7, 300px);
    grid-template-areas:
      "header"
      "maingrilla"
      "maingrilla"
      "maingrilla"
      "maingrilla"
      "maingrilla"
      "footer";
  }

  .grilla_productos {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(10, 1fr);
  }

  .main_grilla {
    display: grid;
    grid-area: maingrilla;
  }

  /*          MEDIA QUERIES    /    MOBILE     /     CONTACTO     */

  .contenedor_contacto {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: 300px 400px 300px;
    grid-template-areas:
      "header"
      "main_contacto"
      "footer";
  }

  /*          MEDIA QUERIES    /    MOBILE     /     SOBRE EKO     */

  .contenedor_sobre {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: 300px 600px 300px;
    grid-template-areas:
      "header"
      "main_sobre"
      "footer";
  }

}